{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

 <table>
 <tr>
 <td style="width: 250px"><img src="{{ site.url }}{{ site.baseurl }}/images/publications/{{ post.image }}" width=200px style="border: 2px solid black; float:left; margin-right:15px; border-radius: 20px;"/></td>
 <td>
 <div>
    <h4 style="margin-top: 10px; margin-bottom: 0px;">{{ title }}</h4>

    {% assign authors = post.authors %}
    {% assign authors = authors | replace: '"{o}', 'ö' %}
    {% assign authors = authors | replace: '"{u}', 'ü' %}
    <h5 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">{{ authors }}</h5>
    {% if post.type contains "thesis" %}
      <h5 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">{% if post.type contains "phd" %}PhD{% else %}SM{% endif %} Thesis, {{ post.year }}</h5>
      <h5 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">MIT Department of Mechanical Engineering</h5>
    {% else %}
      <h5 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
      {{ post.venue }}, {{ post.year }}
      {% if post.status == "in review" %}
        (in review)
      {% elsif post.status == "accepted" %}
        (accepted)
      {% elsif post.status == "to appear" %}
        (to appear)
      {% endif %}
      </h5>
    {% endif %}

    {% if post.notes != "" %}
      <h5 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">
        {{ post.notes }}
      </h5>
    {% endif %}

    {% if post.awards != "N/A" %}
      {% assign awards = post.awards | split: ", " %}
      {% for award in awards %}
        <h5 style="color: green; font-weight: bold; margin-top: 10px; margin-bottom: 0px;">
          {{ award }}
        </h5>
      {% endfor %}
    {% endif %}

    <h5 style="margin-top: 10px; margin-bottom: 0px;">
        
        <!-- Arxiv Paper -->
        {% if post.arxiv != "" and post.arxiv != "N/A" %}
          <a style="text-decoration: none;" href="{{ post.arxiv }}" target="_blank">Paper <i class="fa fa-file"></i></a>&nbsp;&nbsp;&nbsp;
        {% endif %}
        
        <!-- Code -->
        {% if post.links_to_code contains "," %}
          {% assign codes = post.links_to_code | split: ", " %}
          Code: [
          {% for code in codes %}
            {% assign code_info = code | split: ": " %}
            <a style="text-decoration: none;" href="{{ code_info.last }}" target="_blank">{{ code_info.first }} <i class="fa fa-code"></i></a>
            {% if code != codes.last %}
              ,&nbsp;
            {% endif %}
          {% endfor %}
          ]&nbsp;&nbsp;&nbsp;
        {% elsif post.links_to_code != "" and post.links_to_code != "N/A" %}
          <a style="text-decoration: none;" href="{{ post.links_to_code }}" target="_blank">Code <i class="fa fa-code"></i></a>&nbsp;&nbsp;&nbsp;
        {% endif %}

        <!-- Video -->
        {% if post.links_to_video != "" and post.links_to_video != "N/A" %}
          <a style="text-decoration: none;" href="{{ post.links_to_video }}" target="_blank">Video <i class="fa fa-film"></i></a>&nbsp;&nbsp;&nbsp;
        {% endif %}
    </h5>
<!--      <h5>
         <a href="https://ieeexplore.ieee.org/document/9638658" target="_blank">IEEE Xplore <i class="fa fa-file"></i></a>
         &nbsp;&nbsp;&nbsp;
     </h5> -->
 </div>
 </td>
 </tr>
 </table>
