---
layout: home
---

<div class="container-fluid">
  <div class="row">
    <div id="homeid" class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <img src="{{ site.url }}{{ site.baseurl }}/images/jackal_stata_cropped.png" style="width: 100%; border-radius: 0;"/>
        </div>
      </div>
      <h1>Autonomy & Intelligence Laboratory</h1>
      <div class="row">
        <div class="col-sm-12">
          <p>We are a research group at <a href="http://neu.edu" target="_blank">Northeastern University</a>, within the <a href="https://ece.northeastern.edu/">Department of Electrical & Computer Engineering</a>, the <a href="http://khoury.northeastern.edu" target="_blank">Khoury College of Computer Sciences</a>, and the <a href="http://ier.neu.edu" target="_blank">Institute for Experiential Robotics</a>.</p>

          <p>Our research lies at the intersection of robotics, deep learning, and control theory, with the goal of developing <b>certifiable learning machines</b>.
          This means creating robots that discover how to do cool behaviors – with guarantees on safety, reliability, and efficiency. Some specific techniques of interest are: reinforcement learning (RL), reachability analysis, learning cost-to-go functions, bridging semantic perception and motion planning, and model predictive control (MPC).
          A key application area of interest is navigation in challenging environments, such as off-road (e.g., forests, deserts) and alongside humans (e.g., on busy sidewalks, in crowded buildings).</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <p>The lab is located on the 5th floor of the Interdisciplinary Science and Engineering Complex (ISEC), pictured to the right, in Boston, MA.</p>

          <p><b>We are planning to hire multiple PhD students in the 2022-2023 cycle -- please consider applying to ECE or Khoury at Northeastern!</b></p>

          <div class="row">
            <div class="col-sm-6">
              <img src="{{ site.url }}{{ site.baseurl }}/images/hunter_se.png" class="img-responsive" width="100%" style="float: left" />
            </div>
            <div class="col-sm-6">
              <img src="{{ site.url }}{{ site.baseurl }}/images/go1.jpg" class="img-responsive" width="100%" style="float: left" />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="{{ site.url }}{{ site.baseurl }}/images/isec.jpg" class="img-responsive" width="100%" style="float: left" />
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div> -->
